.main .header-section{
    /* height: 100vh; */
    display: grid;
    grid-row: 2/3;
    /* grid-template-rows: 1fr; */
    /* grid-template-columns: 1fr 1fr; */
}

.main .hero-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.main .hero-main .hero-text-section{
    background-color: #ECF9E4;
    display: flex;
    max-height: 400px;
    min-height: 400px;
    /* height: 500px; */
    justify-content: center;
    /* align-items: flex-end; */
    flex-direction: column;
    /* margin-bottom: 0; */
    /* flex: 1; */
    /* align-items: center; */
    text-align: right;
    padding: 0 20px;
}
.main .hero-main .hero-text-section h3{
    color: var(--primary);
    font-weight: 200;
    font-size: 30px;
}
.main .hero-main .hero-text-section h1{
    color: var(--primary);
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 3px;
}
.main .hero-main .hero-text-section p{
    color: #002705;
    padding-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main .hero-main .hero-text-section button{
    background-color: #72CB4B;
    border: none;
    width: 170px;
    padding: 15px 20px;
    align-self: flex-end;
    color: #fff;
    border-radius: 3px;
    margin-top: 20px;
    font-size: 20px;
}
.main .hero-main .hero-text-section button a{
    color: #fff;
}

/* .main .hero-main .hero-image-section{
    height: auto;
} */
.main .hero-main .hero-image-section img{
    object-fit: cover;
    max-height: 400px;
    min-height: 400px;
    /* height: 400px; */
    width: 100%;
}

