@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('header.css');
@import url('menuSection.css');
@import url('fontawesome-free-5.15.4-web/css/all.css');
/* variables */
:root{
    --primary: #298F00;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
}
/* default properties */
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--primary);
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}
