@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('header.css');
@import url('menuSection.css');
/* @import url('fontawesome-free-5.15.4-web/css/all.css'); */
/* @import url('HelloKetta-d99oX.woff'); */
@font-face {
    font-family: 'Hello Ketta Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Hello Ketta Regular'), url('HelloKetta-d99oX.woff') format('woff');
    }
/* variables */
:root{
    --primary: #298F00;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
}
/* default properties */
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--primary);
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100%;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: repeat(6, 1fr);
    box-sizing: border-box;
    /* grid-auto-rows: 1fr; */
    /* position: relative; */
}

.main .nav-main{
    margin: 0 20px;
    display: flex;
    align-items: center;
    /* position: relative; */
    height: 100px;
    grid-row: 1/2;
}
.main .nav-main .logo-container{
    flex: 1;
    /* margin-top: 60px;
    margin-left: 50px; */
    /* position: relative; */
}
.main .nav-main .logo-container img{
     margin-top: -30px;
    margin-left: 50px;
    position: absolute;
}
.main .nav-main .nav-container{
    display: flex;
    align-items: center;
}
.main .nav-main .nav-icons{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.main .nav-main .nav-icons img{
    width: 50%;
}

/* .main .header-section .nav-main .nav-icons li span{
    display: block;
    background-color: #00C41A;
    height: 20px;
    width: 2px;
    margin: 0 2px;
} */
.main .nav-main .nav-container li a{
    font-size: 15px;
    font-weight: 600;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .nav-main .nav-container li a::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--primary);
    transform: scale(0, 1);
    transition: transform 200ms ease-in;
    /* transform-origin: left; */
}
.main .nav-main .nav-container li a:hover::after{
    transform: scale(1, 1);
}

/* End of Navigation */

@media (max-width:420px) {
    .main .nav-main{
        margin: 0 !important;
        flex-direction: column;
        /* align-items: none; */
        /* position: relative; */
        height: auto !important;
        background: #abff86;
    }
    .main .nav-main .logo-container{
       /* height: 100px; */
       flex: none;
       width: 100%;
    }
    .main .nav-main .logo-container img{
      width: 100%;
      /* object-fit: cover; */
      position: relative;
      margin: 0 !important;
    }

    .main .nav-main .nav-container{
        display: none;
        position: absolute;
    }
    .main .nav-main .nav-icons{
        align-items: flex-end !important;
        padding: 20px 0;
    }
    .main .nav-main .nav-icons li span{
        margin-right: 10px;
    }
    .main .nav-main .nav-icons img{
        width: 90%;
    }


    .main .hero-main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        position: relative;
    }
    .main .hero-main .hero-image-section{
        position: absolute;
        width: 100%;
    }
    .main .hero-main .hero-image-section img{
        /* position: absolute; */
        width: 100%;
        object-fit: cover;
        height: 400px;
    }

    .main .hero-main .hero-text-section{
        text-align: left;
        z-index: 3;
        background: rgba(10, 10, 10, .5);
    }

    .main .hero-main .hero-text-section h3{
        color: #fff;
        font-weight: 300;
        font-size: 18px;
    }
    .main .hero-main .hero-text-section h1{
        color: #64ff22;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 5px;
    }
    .main .hero-main .hero-text-section p{
        color: #fff;
        padding-left: 0;
        /* padding-right: 50%; */
        line-height: 20px;
        font-weight: 300;
        font-size: 15px;
    }
    .main .hero-main .hero-text-section button{
        background-color: #72CB4B;
        border: none;
        width: 170px;
        padding: 7px 15px;
        align-self: flex-start;
        /* transform: translateX(100%); */
        color: #fff;
        border-radius: 3px;
        margin-top: 20px;
        font-size: 20px;
    }



    .main .restaurant-menu-section .menu-category-section{
        /* display: flex; */
        flex-direction: column;
        /* margin: 20px 50px; */
        padding: 0 0;
    }

    .main .restaurant-menu-section .menu-text-order h1{
        font-weight: 400;
        font-size: 25px;
        margin-top: 20px;
    }
    .main .restaurant-menu-section .menu-text-order h1 span{
        font-weight: 600;
    }

    .main .restaurant-menu-section .button-browse-more button{
        padding: 10px 15px;
        width: 70%;
        border-radius: 3px;
        color:#fff;
        /* margin-right: -150px!important; */
        margin: auto;
        font-size: 20px;
        font-weight: 400;
    }



    .services-section h1{
        margin-top: 0;
        font-size: 15px;
    }
    .services-section h5{
        /* margin-top: 40px; */
        font-size: 27px;
    }
    .services-section button{
        padding: 8px 2px;
        width: 50%;
    }
    
    /* Events Section here */
    .events-section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        position: relative;
    }

    .events-section .events-image{
       position: absolute;
       width: 100%;
     }
     .events-section .events-image{
        width: 100%;
        min-height: auto;
        object-fit: cover;
      }
     .events-text{
        /* display: grid;
        grid-template-rows: repeat(2, 1fr);
        text-align: center;
        padding-top: 20px; */
        z-index: 3;
     }
    
}