@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('header.css');
@import url('menuSection.css');
/* @import url('fontawesome-free-5.15.4-web/css/all.css'); */
/* @import url('HelloKetta-d99oX.woff'); */
/* @font-face {
    font-family: 'Hello Ketta Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Hello Ketta Regular'), url('HelloKetta-d99oX.woff') format('woff');
    } */
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
/* variables */
:root{
    --primary: #298F00;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
    scroll-behavior: smooth;
    scroll-margin: 100px;
}
/* default properties */
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--primary);
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100%;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: repeat(6, 1fr);
    box-sizing: border-box;
    /* grid-auto-rows: 1fr; */
    /* position: relative; */
}

.main .nav-main{
    margin: 0 20px;
    display: flex;
    align-items: center;
    /* position: relative; */
    height: 100px;
    grid-row: 1/2;
}
.main .nav-main .logo-container{
    flex: 1;
    /* margin-top: 60px;
    margin-left: 50px; */
    /* position: relative; */
    transition: right 300ms;
}
.main .nav-main .logo-container img{
     margin-top: -30px;
    margin-left: 50px;
    position: absolute;
}
.hamburger-container{
    display: none;
}
.main .nav-main .nav-container{
    display: flex;
    align-items: center;
}
.main .nav-main .nav-icons{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.main .nav-main .nav-icons img{
    width: 50%;
}

/* .main .header-section .nav-main .nav-icons li span{
    display: block;
    background-color: #00C41A;
    height: 20px;
    width: 2px;
    margin: 0 2px;
} */
.main .nav-main .nav-container li a{
    font-size: 15px;
    font-weight: 600;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .nav-main .nav-container li a::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--primary);
    transform: scale(0, 1);
    transition: transform 200ms ease-in;
    /* transform-origin:top; */
}
.main .nav-main .nav-container li a:hover::after{
    transform: scale(1, 1);
}

/* End of Navigation */

/* -------------------------------------------------------------------------------------- */

@media (max-width:425px) {
    .main .nav-main{
        margin: 0 !important;
        flex-direction: column;
        align-items: flex-start;
        height: auto !important;
        background: #0f3200;
        box-shadow: 10px 10px 3px #333;
    }
    .main .nav-main .logo-container{
       /* height: 100px; */
       flex: none;
       width: 100%;
    }
    .main .nav-main .logo-container img{
      width: 100%;
      /* object-fit: cover; */
      position: relative;
      margin: 0 !important;
    }
    .hamburger-container{
        display: block;
        color: var(--primary);
        padding: 0 20px;
    }
    .hamburger-container span{
        padding-top: 10px;
        font-size: 20px;
        /* position: absolute; */
    }
    .main .nav-main .nav-container{
        /* display: flex; */
        position: absolute;
        top: 31%;
        z-index: 11;
        background: #298f00;
        color: #333!important;
        width: 100%;
        text-align: left!important;
        display: none;
    }
    .main .nav-main .nav-container li a{
        color: rgb(245, 255, 232)!important;
        font-weight: 100;
        padding: 10px 10px;
        align-items: flex-start;
        border-bottom: 1px solid #318111;
    }
    .main .nav-main .nav-container li:nth-child(even){
        background: #2c8509;
    }
    /* .show{
        display: block;
    } */
    .main .nav-main .nav-icons{
        align-self: flex-end;
        margin-top: -30px;
        padding: 10px 0;
    }
    .nav-main :nth-child(4){
        order: 2;
    }
    .main .nav-main .nav-icons img{
        max-width: 50%;
    }
    .main .nav-main .nav-icons li span{
        margin-right: 10px;
    }
    .main .nav-main .nav-icons img{
        width: 90%;
    }


    .main .hero-main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        position: relative;
    }
    .main .hero-main .hero-image-section{
        position: absolute;
        width: 100%;
    }
    .main .hero-main .hero-image-section img{
        /* position: absolute; */
        width: 100%;
        object-fit: cover;
        height: 400px;
    }

    .main .hero-main .hero-text-section{
        text-align: left;
        z-index: 3;
        background: rgba(10, 10, 10, .5);
    }

    .main .hero-main .hero-text-section h3{
        color: #fff;
        font-weight: 300;
        font-size: 18px;
    }
    .main .hero-main .hero-text-section h1{
        color: #64ff22;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 5px;
    }
    .main .hero-main .hero-text-section p{
        color: #fff;
        padding-left: 0;
        /* padding-right: 50%; */
        line-height: 20px;
        font-weight: 300;
        font-size: 15px;
    }
    .main .hero-main .hero-text-section button{
        background-color: #72CB4B;
        border: none;
        width: 170px;
        padding: 7px 15px;
        align-self: flex-start;
        /* transform: translateX(100%); */
        color: #fff;
        border-radius: 3px;
        margin-top: 20px;
        font-size: 20px;
    }



    .main .restaurant-menu-section .menu-category-section{
        /* display: flex; */
        flex-direction: column;
        /* margin: 20px 50px; */
        padding: 0 0;
    }

    .main .restaurant-menu-section .menu-text-order h1{
        font-weight: 400;
        font-size: 25px;
        margin-top: 20px;
    }
    .main .restaurant-menu-section .menu-text-order h1 span{
        font-weight: 600;
    }

    .main .restaurant-menu-section .button-browse-more button{
        padding: 10px 15px;
        width: 70%;
        border-radius: 3px;
        color:#fff;
        /* margin-right: -150px!important; */
        margin: auto;
        font-size: 20px;
        font-weight: 400;
    }



    .services-section h1{
        margin: 0 20px;
        font-size: 20px;
        word-spacing: 0;
        letter-spacing: 2px;
        text-align: center;

    }
    .services-section h5{
        /* margin-top: 40px; */
        font-size: 17px;
        text-align: center;
    }
    .services-section button{
        padding: 8px 2px;
        width: 50%;
    }
    
    /* Events Section here */
    .events-section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        position: relative;
        color: #fff;
    }

    .events-section .events-image{
       position: absolute;
       height: 100%;
     }
     .events-section .events-image img{
        min-height: 100%;
      }
     .events-text{
        z-index: 3;
        /* color: #fff!important; */
        background: rgba(0, 0, 0, 0.575);
        align-items: center;
     }
     .events-text .events-text-announce p{
         color: #fff!important;
         font-weight: 200;
         line-height: 25px;
         margin: 5px;
         padding: 0 20px;
     }
     .events-text .events-text-announce h1{
        color: var(--primary);
    }

    /* Footer Herer */
    .footer-section .footer-infos{
        margin: 0;
        padding: 10 20px;
        grid-template-columns: 1fr auto;
        /* grid-template-rows: 1fr auto; */
        /* align-items: flex-start; */
    }
    /* .footer-section .footer-infos .footer-infos-branch h3, .footer-infos-hours h3{
        font-size: 15px;
    } */

    .footer-section .footer-infos .footer-infos-hours{
        grid-row: 2/3;
    }
    .footer-section .footer-infos .footer-infos-social{
        grid-row: 1/3;
        /* padding-top: 10px; */
        font-size: 18px;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        align-items: center;;
    }
    .footer-section .footer-infos .footer-infos-social a{
        padding: 12px 0;
    }
    .footer-section .footer-infos .footer-infos-social a:nth-last-child(1){
        padding-bottom: 0;
    }
    .all-rights div{
        /* display: none; */
        width: 100%;
    }
    .all-rights p{
        padding: 0;
        margin: 5px 0;
    }
}