.main .restaurant-menu-section{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row: 3/4;
}
.main .restaurant-menu-section .menu-category-section{
    display: flex;
    flex-direction: row;
    /* margin: 20px 50px; */
    padding: 0 150px;
}
.main .restaurant-menu-section .menu-text-order h1{
    text-align: center;
    color: var(--primary);
    font-weight: 500;
    font-size: 30px;
    margin-top: 20px;
}
.main .restaurant-menu-section .menu-text-order h1 span{
    font-weight: 600;
}
.main .menu-category-section .menu-category-wrapper{
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: 0 0 3px rgba(10, 10, 10, .2);
    padding: 2px;
    border-radius: 3px;
}
.main .menu-category-section .menu-category-wrapper .menu-image{
    width: 100%;
    /* border-radius: 2px; */
}
.main .menu-category-section .menu-category-wrapper .menu-image img{
    width: 100%;
    /* border-radius: 2px; */
}
.main .menu-category-section .menu-category-wrapper .menu-content h3{
    color: var(--primary);
    font-weight: 500;
    margin: 10px 10px;
}
.main .menu-category-section .menu-category-wrapper .menu-content p{
    color: #002705;
    padding: 10px;
}
.main .menu-category-section .menu-category-wrapper .menu-price{
    color: var(--primary);
    display: grid;
    /* flex-direction: ; */
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    align-items: center;
    padding: 10px;
}
.main .menu-category-section .menu-category-wrapper .menu-price p{
    /* text-align:left; */
    font-weight: 600;
}
.main .menu-category-section .menu-category-wrapper .menu-price button{
    border-radius: 50px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    padding: 10px;
}
.main .restaurant-menu-section .button-browse-more{
    display: flex;
    flex-direction: row ;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
}
.main .restaurant-menu-section .button-browse-more button{
    padding: 15px;
    width: 30%;
    background-color: #72CB4B;
    border: none;
    border-radius: 3px;
    color:#fff;
    /* margin-right: -150px!important; */
    margin: auto;
    font-size: 20px;
    font-weight: 400;
}
.services{
    background: url('../assets/services-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    grid-row: 5/6;
}
.services-section{
    /* text-align: center; */
    /* padding: 30px 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    /* max-height: 400px; */
    background-color: rgba(10, 10, 10, 0.5);
}
.services-section h1{
    font-family: 'Hello Ketta Regular';
    margin-top: 40px;
    font-size: 60px;
    font-weight: 200;
    color: #fff;
}
.services-section h5{
    /* margin-top: 40px; */
    font-size: 40px;
    font-weight: 300;
    color: rgb(255, 208, 0);
}
.services-section button{
    padding: 15px;
    width: 20%;
    background-color: #39a30c;
    border: none;
    border-radius: 3px;
    color:#fff;
    /* margin-right: -150px!important; */
    /* margin: auto; */
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

/* Events Section here */
.events-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 6/7;
}

.events-section .events-image img{
   min-height: 400px; 
   object-fit: cover;
   max-height: 400px;
   width: 100%;
    /* max-height: 100%; */
    /* object-fit: cover; */
}
.events-text{
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   text-align: center;
   padding-top: 20px;
}
/* .events-text .events-text-announce{
    display: flex;
    flex-direction: column;
} */
.events-text .events-text-announce h1{
    color: #053905;
    font-weight: 400;
    font-size: 30px;
}
.events-text .events-text-announce div{
    background-color: #053905;
    width: 95%;
    min-height: 1px;
    margin: 7px auto;
}
.events-text .events-text-announce p{
    color: #022002;
    text-align: left;
    margin: 7px 30px;
}
.events-text .events-text-info{
    text-align: left;
    margin-top: 20px;
    /* padding-top: 20px; */
    /* position: relative; */
}
.events-text .events-text-info h1{
    color: #acffac;
    font-weight: 200;
    font-size: 20px;
    /* width: 50%; */
    padding: 3px 17px;
}
.events-text .events-text-info-h1{
    background: #002705;
    display: inline-block;
    position: relative;
    margin-top: 10px;
}
.events-text .events-text-info-h1::after{
    content: " ";
    top: 0;
    right: -6%;
    height: 0;
    width: 0%;
    position: absolute;
    /* background: red; */
    z-index: 5;
    border-left: 15px solid #002705;
    border-top: 15px solid transparent;
    /* border-right: 30px solid blue; */
    border-bottom: 15px solid transparent
}
.events-text .events-text-info ul{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}
.events-text .events-text-info ul span{
    margin: 0 15px;
    color: var(--primary);
}

/* Footer Section here */
.footer-section{
    background: #001600;
    color: var(--primary);
    font-weight: 200;
    grid-row: 7/8;
}
.footer-infos{
    padding: 30px 10px 20px 15%;
}
.footer-section .footer-infos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content:center;
}
.footer-section .footer-infos .footer-infos-branch h3{
    font-weight: 300;
    /* text-align: center; */
    margin-bottom: 10px;
}
.footer-section .footer-infos .footer-infos-branch ul{
    padding-left: 10px;
    font-size: 14px;
    line-height: 25px;
}
.footer-section .footer-infos .footer-infos-branch ul span{
    font-weight: 100;
    font-size: 10px;
}
.footer-section .footer-infos .footer-infos-social{
    font-size: 30px;
    /* text-align: center; */
}
.footer-section .footer-infos .footer-infos-social a:nth-child(1) span{
    /* background: aqua !important; */
    color: rgb(0, 119, 255);
}
.footer-section .footer-infos .footer-infos-social a:nth-child(2) span{
    /* background: aqua !important; */
    color: rgba(255, 0, 34, 0.76);
}
.footer-section .footer-infos .footer-infos-social a:nth-child(3) span{
    /* background: aqua !important; */
    color: rgb(255, 0, 0);
}
.footer-section .footer-infos .footer-infos-social a:nth-child(5) span{
    /* background: aqua !important; */
    color: rgb(0, 38, 255);
}
.footer-section .footer-infos .footer-infos-hours h3{
    font-weight: 300;
    /* text-align: center; */
    margin-bottom: 10px;
}
.footer-section .footer-infos .footer-infos-hours ul{
    padding-left: 10px;
    font-size: 14px;
    line-height: 25px;
}
.footer-section .footer-infos .footer-infos-hours ul span{
    font-weight: 100;
    font-size: 10px;
}


.all-rights{
    text-align: center;
    padding: 0 !important;
}
.all-rights div{
    width: 70%;
    height: .5px;
    border-bottom: 1px solid #002705;
    margin: auto;
    /* background: chartreuse; */
}
.all-rights p{
    margin: 20px 0;
    font-size: 13px;
    color: #72CB4B;
}